<!-- BEGIN SIDEBAR -->
<div class="sidebar" style="z-index: 999999999 !important;">
  <div class="logopanel">
    <h1>
      <a href="/"></a>
    </h1>
  </div>
  <div class="sidebar-inner">
    <ul class="nav nav-sidebar">
      <li class="nav-parent" ng-click="employees.gotoDashboard()" ng-if="employees.currentUser.jobs">
        <a href="">
          <i class="icon-home"></i>
          <span>Jobs</span>
        </a>
      </li>
      <li class="nav-parent" ng-click="employees.gotoInventory()" ng-if="employees.currentUser.inventory">
        <a href="">
          <i class="icon-basket"></i>
          <span>Inventory</span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="employees.gotoLogbook()" ng-if="employees.currentUser.logbook">
        <a href="">
          <i class="icon-note"></i>
          <span>Logbook </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent active" ng-click="employees.gotoEmployees()" ng-if="employees.currentUser.employees">
        <a href="">
          <i class="icon-user"></i>
          <span>Employees </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="employees.gotoReports()" ng-if="employees.currentUser.reports">
        <a href="">
          <i class="icon-docs"></i>
          <span>Reports </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="employees.gotoWatchkeep()" ng-if="employees.currentUser.watchkeeping || employees.currentUser.watchkeeper">
        <a href="">
          <i class="icon-cup"></i>
          <span>Watchkeep </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="employees.gotoSupplier()" ng-if="employees.currentUser.supplier">
        <a href="">
          <i class="icon-layers"></i>
          <span>Supplier </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="employees.gotoAdminPanel()" ng-if="employees.currentUser.superadmin">
        <a href="">
          <i class="icon-puzzle"></i>
          <span>Super Admin </span>
          <span class="fa arrow"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END SIDEBAR -->

<div class="main-content">
  <!-- BEGIN TOPBAR -->
  <div class="topbar" style="z-index: 999999999 !important;">
    <div class="header-left" style="margin-top: 15px !important; margin-left: 10px !important;">
      <span class="username" style="color: #fff !important;">{{employees.currentUser.boatName}}</span>
    </div>
    <div class="header-right">
      <ul class="header-menu nav navbar-nav">
        <!-- BEGIN USER DROPDOWN 
              <li class="dropdown" id="language-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-globe"></i>
                <span>Language</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" data-lang="en"><img src="../assets/global/images/flags/usa.png" alt="flag-english"> <span>English</span></a>
                  </li>
                  <li>
                    <a href="#" data-lang="es"><img src="../assets/global/images/flags/spanish.png" alt="flag-english"> <span>Español</span></a>
                  </li>
                  <li>
                    <a href="#" data-lang="fr"><img src="../assets/global/images/flags/french.png" alt="flag-english"> <span>Français</span></a>
                  </li>
                </ul>
              </li> -->
        <!-- END USER DROPDOWN -->
        <!-- BEGIN NOTIFICATION DROPDOWN 
              <li class="dropdown" id="notifications-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <i class="icon-bell"></i>
                <span class="badge badge-danger badge-header">6</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header clearfix">
                    <p class="pull-left">12 Pending Notifications</p>
                  </li>
                  <li>
                    <ul class="dropdown-menu-list withScroll" data-height="220">
                      <li>
                        <a href="#">
                        <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                        Steve have rated your photo
                        <span class="dropdown-time">Just now</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                        John added you to his favs
                        <span class="dropdown-time">15 mins</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i class="fa fa-file-text p-r-10 f-18"></i>
                        New document available
                        <span class="dropdown-time">22 mins</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                        New picture added
                        <span class="dropdown-time">40 mins</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i class="fa fa-bell p-r-10 f-18 c-orange"></i>
                        Meeting in 1 hour
                        <span class="dropdown-time">1 hour</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i class="fa fa-bell p-r-10 f-18"></i>
                        Server 5 overloaded
                        <span class="dropdown-time">2 hours</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i class="fa fa-comment p-r-10 f-18 c-gray"></i>
                        Bill comment your post
                        <span class="dropdown-time">3 hours</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                        <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                        New picture added
                        <span class="dropdown-time">2 days</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-footer clearfix">
                    <a href="#" class="pull-left">See all notifications</a>
                    <a href="#" class="pull-right">
                    <i class="icon-settings"></i>
                    </a>
                  </li>
                </ul>
              </li> -->
        <!-- END NOTIFICATION DROPDOWN -->
        <!-- BEGIN USER DROPDOWN -->
        <li class="dropdown" id="user-header">
          <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img style="width: 36px !important; height: 36px !important;" src="{{employees.currentUser.profilePhoto}}" alt="user image">
            <span class="username">Hi, {{employees.currentUser.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="profilepage({ employeeId: employees.currentUserId })">
                <i class="icon-user"></i>
                <span>My Profile</span>
              </a>
            </li>
            <!--<li>
                    <a href="#"><i class="icon-settings"></i><span>Account Settings</span></a>
                  </li>-->
            <li>
              <a href="#" ng-click="employees.logout()">
                <i class="icon-logout"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- END USER DROPDOWN -->
      </ul>
    </div>
    <!-- header-right -->
  </div>
  <!-- END TOPBAR -->
  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div ng-if="showNotifErr" class="preview active">
      <div class="alert alert-success media fade in">
        <p>{{errMessage}}
          <button type="button" class="close" ng-click="employees.notification()" aria-hidden="true">
            <i class="icons-office-52" style="color: #fff !important;"></i>
          </button>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel bg-dark">
          <div class="panel-header panel-controls" ng-if="employees.currentUser.role == 'admin'">
            <div class="m-b-20">
                <button class="btn btn-dark" data-toggle="modal" data-target="#modal-responsive" ng-click="employees.addNewUser()">
                  <i class="fa fa-plus"></i> Add New User</button>
                <button class="btn btn-dark" ng-click="employees.gotoYmpnetwork()">
                  <i class="fa fa-search"></i> Search YMP Network</button>
            </div>
            <div class="col-sm-4 col-sm-offset-8">
              <form>
                <div class="append-icon">
                  <input type="search" ng-model="employees.searchText" class="form-control form-white input-lg" placeholder="Search..." autofocus>
                  <i class="icon-magnifier"></i>
                </div>
              </form>
            </div>
          </div>
          <div class="panel-content">
            <!--<p>Here you can manage your jobs easily: add new row, edit or remove existing data. You can export your table in PDF, Excel, CSV or just print it.</p>-->
            <!--<div class="m-b-20">
                    <div class="btn-group">
                      <button id="table-edit_new" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#modal-responsive"><i class="fa fa-plus"></i> Add New Job</button>
                    </div>
                  </div>-->
            <table class="table table-hover dataTable" id="table-editable">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Mailing</th>
                  <th>Boat Name</th>
                  <th>username</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="employee in employees.profiles" ng-hide="employee.setRemove == true" ui-sref="employeedetails({ employeeId: employee._id })"
                  ng-click="">
                  <td>{{employee.firstName}}</td>
                  <td>{{employee.lastName}}</td>
                  <td>{{employee.mailing}}</td>
                  <td>{{employee.boatName}}</td>
                  <td>{{employee.username}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="copyright">
        <p class="pull-left sm-pull-reset">
          <span>Copyright
            <span class="copyright">©</span> 2018 </span>
          <span>Powered by TYS Ltd</span>.
          <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
          <span>
            <a href="#" class="m-r-10">Support</a> |
            <a href="#" class="m-l-10 m-r-10">Terms of use</a> |
            <a href="#" class="m-l-10">Privacy Policy</a>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-responsive" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icons-office-52"></i>
          </button>
          <h4 class="modal-title">
            <strong>New</strong> Employee</h4>
        </div>
        <div class="modal-body bg-dark">
          <!--<p>Change screen size to see responsive behaviour.</p>-->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-1" class="control-label">First Name</label>
                <input type="text" ng-model="employees.employee.firstName" class="form-control" placeholder="Firstname" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="field-3" class="control-label">Last Name</label>
                <input type="text" ng-model="employees.employee.lastName" class="form-control" placeholder="Lastname" required>
              </div>
            </div>
          </div>

          <!--<div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Type</label>
                        <select ng-model="employees.employee.type" name="group" class="form-control">
                          <option ng-repeat="type in employees.types" value="{{type.value}}">{{type.name}}</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Status</label>
                      <select ng-model="employees.employee.status" name="group" class="form-control">
                        <option ng-repeat="status in employees.statuses" value="{{status.value}}">{{status.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>-->

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Department</label>
                <select ng-model="employees.employee.department" name="group" class="form-control">
                  <option ng-repeat="department in employees.departments" value="{{department.value}}">{{department.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Job Title</label>
                <select ng-model="employees.employee.jobtitle" name="group" class="form-control" required>
                  <option ng-repeat="jobtitle in employees.jobtitles" value="{{jobtitle.value}}">{{jobtitle.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Mailing</label>
                <select ng-model="employees.employee.mailing" name="group" class="form-control">
                  <option ng-repeat="mailing in employees.mailings" value="{{mailing.value}}">{{mailing.name}}</option>
                </select>
              </div>
            </div>
            <!--<div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Term of Employment</label>
                      <select ng-model="employees.employee.termOfEmployment" name="group" class="form-control">
                        <option ng-repeat="term in employees.terms" value="{{term.value}}">{{term.name}}</option>
                      </select>
                    </div>
                  </div>-->
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Role</label>
                <select ng-model="employees.employee.role" name="group" class="form-control" required>
                  <option ng-repeat="role in employees.roles" value="{{role.value}}">{{role.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="field-5" class="control-label">Username</label>
                <input type="text" ng-model="employees.employee.username" class="form-control" placeholder="username" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center bg-dark">
          <button type="submit" class="btn btn-primary btn-embossed bnt-square" ng-click="employees.submit()" data-dismiss="modal">
            <i class="fa fa-check"></i> Add</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT -->
</div>