<!-- BEGIN SIDEBAR -->
<div class="sidebar" style="z-index: 999999999 !important;">
  <div class="logopanel">
    <h1>
      <a href="/"></a>
    </h1>
  </div>
  <div class="sidebar-inner">
    <ul class="nav nav-sidebar">
      <li class="nav-parent" ng-click="logbook.gotoDashboard()" ng-if="logbook.currentUser.jobs">
        <a href="">
          <i class="icon-home"></i>
          <span>Jobs</span>
        </a>
      </li>
      <li class="nav-parent" ng-click="logbook.gotoInventory()" ng-if="logbook.currentUser.inventory">
        <a href="">
          <i class="icon-basket"></i>
          <span>Inventory</span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent active" ng-click="logbook.gotoLogbook()" ng-if="logbook.currentUser.logbook">
        <a href="">
          <i class="icon-note"></i>
          <span>Logbook </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="logbook.gotoEmployees()" ng-if="logbook.currentUser.employees">
        <a href="">
          <i class="icon-user"></i>
          <span>Employees </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="logbook.gotoReports()" ng-if="logbook.currentUser.reports">
        <a href="">
          <i class="icon-docs"></i>
          <span>Reports </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="logbook.gotoWatchkeep()" ng-if="logbook.currentUser.watchkeeping || logbook.currentUser.watchkeeper">
        <a href="">
          <i class="icon-cup"></i>
          <span>Watchkeep </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="logbook.gotoSupplier()" ng-if="logbook.currentUser.supplier">
        <a href="">
          <i class="icon-layers"></i>
          <span>Supplier </span>
          <span class="fa arrow"></span>
        </a>
      </li>
      <li class="nav-parent" ng-click="logbook.gotoAdminPanel()" ng-if="logbook.currentUser.superadmin">
        <a href="">
          <i class="icon-puzzle"></i>
          <span>Super Admin </span>
          <span class="fa arrow"></span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer clearfix">
      <a class="pull-left btn-effect" href="#" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout"
        ng-click="logbook.logout()">
        <i class="icon-power"></i>
      </a>
    </div>
  </div>
</div>
<!-- END SIDEBAR -->

<div class="main-content">
  <!-- BEGIN TOPBAR -->
  <div class="topbar" style="z-index: 999999999 !important;">
    <div class="header-left">
      <div class="topnav">
        <a class="menutoggle" href="#" data-toggle="sidebar-collapsed" ng-click="logbook.toggleSidebar()">
          <span class="menu__handle">
            <span>Menu</span>
          </span>
        </a>
        <span class="username" style="color: #fff !important;">{{logbook.currentUser.boatName}}</span>
      </div>
    </div>
    <div class="header-right">
      <ul class="header-menu nav navbar-nav">
        <!-- BEGIN USER DROPDOWN 
          <li class="dropdown" id="language-header">
            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-globe"></i>
            <span>Language</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#" data-lang="en"><img src="../assets/global/images/flags/usa.png" alt="flag-english"> <span>English</span></a>
              </li>
              <li>
                <a href="#" data-lang="es"><img src="../assets/global/images/flags/spanish.png" alt="flag-english"> <span>Español</span></a>
              </li>
              <li>
                <a href="#" data-lang="fr"><img src="../assets/global/images/flags/french.png" alt="flag-english"> <span>Français</span></a>
              </li>
            </ul>
          </li> -->
        <!-- END USER DROPDOWN -->
        <!-- BEGIN NOTIFICATION DROPDOWN 
          <li class="dropdown" id="notifications-header">
            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-bell"></i>
            <span class="badge badge-danger badge-header">6</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header clearfix">
                <p class="pull-left">12 Pending Notifications</p>
              </li>
              <li>
                <ul class="dropdown-menu-list withScroll" data-height="220">
                  <li>
                    <a href="#">
                    <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                    Steve have rated your photo
                    <span class="dropdown-time">Just now</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                    John added you to his favs
                    <span class="dropdown-time">15 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-file-text p-r-10 f-18"></i>
                    New document available
                    <span class="dropdown-time">22 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                    New picture added
                    <span class="dropdown-time">40 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-bell p-r-10 f-18 c-orange"></i>
                    Meeting in 1 hour
                    <span class="dropdown-time">1 hour</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-bell p-r-10 f-18"></i>
                    Server 5 overloaded
                    <span class="dropdown-time">2 hours</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-comment p-r-10 f-18 c-gray"></i>
                    Bill comment your post
                    <span class="dropdown-time">3 hours</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                    New picture added
                    <span class="dropdown-time">2 days</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-footer clearfix">
                <a href="#" class="pull-left">See all notifications</a>
                <a href="#" class="pull-right">
                <i class="icon-settings"></i>
                </a>
              </li>
            </ul>
          </li> -->
        <!-- END NOTIFICATION DROPDOWN -->
        <!-- BEGIN USER DROPDOWN -->
        <li class="dropdown" id="user-header">
          <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img style="width: 36px !important; height: 36px !important;" src="{{logbook.currentUser.profilePhoto}}" alt="user image">
            <span class="username">Hi, {{logbook.currentUser.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="profilepage({ employeeId: logbook.currentUserId })">
                <i class="icon-user"></i>
                <span>My Profile</span>
              </a>
            </li>
            <!--<li>
                <a href="#"><i class="icon-settings"></i><span>Account Settings</span></a>
              </li>-->
            <li>
              <a href="#" ng-click="logbook.logout()">
                <i class="icon-logout"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- END USER DROPDOWN -->
      </ul>
    </div>
    <!-- header-right -->
  </div>
  <!-- END TOPBAR -->
  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel bg-dark">
          <div class="panel-content">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="form-label">From</label>
                  <div class="prepend-icon">
                    <date-picker language="en" ng-model="logbook.dateFrom" format="MMMM d, y"></date-picker>
                    <i class="icon-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="form-label">To</label>
                  <div class="prepend-icon">
                    <date-picker language="en" ng-model="logbook.dateTo" format="MMMM d, y"></date-picker>
                    <i class="icon-calendar"></i>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group col-sm-12" style="margin-top: 25px !important;">
                  <button class="btn btn-dark col-sm-6" ng-click="logbook.filterNow()">Search</button>
                  <button class="btn btn-dark col-sm-5" ng-click="logbook.reset()">Reset</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 portlets">
        <div class="panel bg-dark">
          <div class="panel-header panel-controls">
            <div class="m-b-20 row">
              <div class="btn-group">
                <button id="table-edit_new" class="btn btn-dark" data-toggle="modal" data-target="#new-log">
                  <i class="fa fa-plus"></i> Add New Log</button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <form>
                  <div class="append-icon">
                    <input type="search" ng-model="logbook.searchText" class="form-control form-white input-lg" placeholder="Search..." autofocus>
                    <i class="icon-magnifier"></i>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="panel-content">
            <!--<p>Here you can manage your jobs easily: add new row, edit or remove existing data. You can export your table in PDF, Excel, CSV or just print it.</p>-->
            <table class="table table-hover dataTable" id="table-editable">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Engineer on watch</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr dir-paginate="logbook in logbook.logbooks | itemsPerPage: logbook.perPage" total-items="logbook.logbooksCount" ui-sref="logdetails({ logId: logbook._id})"
                  ng-click="">
                  <td>{{logbook.date | date : "medium"}}</td>
                  <td>{{logbook.name}}</td>
                  <td>{{logbook.notes}}</td>
                  </td>
                </tr>

              </tbody>
            </table>
            <dir-pagination-controls on-page-change="logbook.pageChanged(newPageNumber)"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="copyright">
        <p class="pull-left sm-pull-reset">
          <span>Copyright
            <span class="copyright">©</span> 2018 </span>
          <span>Powered by TYS Ltd</span>.
          <span>All rights reserved. </span>
        </p>
        <p class="pull-right sm-pull-reset">
          <span>
            <a href="#" class="m-r-10">Support</a> |
            <a href="#" class="m-l-10 m-r-10">Terms of use</a> |
            <a href="#" class="m-l-10">Privacy Policy</a>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new-log" aria-hidden="true">
    <div class="modal-dialog modal-responsive" style="margin-top: 15% !important;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="icons-office-52"></i>
          </button>
          <h4 class="modal-title">
            <strong>New</strong> Log</h4>
        </div>
        <div class="modal-body " style="overflow-x: hidden !important;">
          <div class="col-sm-12" style="margin-top: 10px !important;">
            <div class="col-sm-6">
              <button ng-click="logbook.gotoNewLog()" data-dismiss="modal" type="submit" class="btn btn-dark col-sm-12">
                <i class="fa fa-dashboard"></i> At Port</button>
            </div>
            <div class="col-sm-6">
              <button ng-click="logbook.gotoSeaLog()" data-dismiss="modal" type="submit" class="btn btn-dark col-sm-12">
                <i class="fa fa-globe"></i> At Sea</button>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <!--<button type="button" class="btn btn-primary btn-embossed bnt-square" ><i class="fa fa-check"></i> Add</button>-->
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT -->
</div>