<!-- BEGIN SIDEBAR -->
<div class="sidebar" style="z-index: 999999999 !important;">
    <div class="logopanel">
      <h1>
        <a href="/"></a>
      </h1>
    </div>
    <div class="sidebar-inner">
      <ul class="nav nav-sidebar">
        <li class="nav-parent" ng-click="inventory.gotoDashboard()" ng-if="inventory.currentUser.jobs">
          <a href=""><i class="icon-home"></i><span>Jobs</span></a>
        </li>
        <li class="nav-parent active" ng-click="inventory.gotoInventory()" ng-if="inventory.currentUser.inventory">
          <a href=""><i class="icon-basket"></i><span>Inventory</span><span class="fa arrow"></span></a>
        </li>
        <li class="nav-parent" ng-click="inventory.gotoLogbook()" ng-if="inventory.currentUser.logbook">
          <a href=""><i class="icon-note"></i><span>Logbook </span><span class="fa arrow"></span></a>
        </li>
        <li class="nav-parent" ng-click="inventory.gotoEmployees()" ng-if="inventory.currentUser.employees">
          <a href=""><i class="icon-user"></i><span>Employees </span><span class="fa arrow"></span></a>
        </li>
        <li class="nav-parent" ng-click="inventory.gotoReports()" ng-if="inventory.currentUser.reports">
            <a href=""><i class="icon-docs"></i><span>Reports </span><span class="fa arrow"></span></a>
        </li>
        <li class="nav-parent" ng-click="inventory.gotoWatchkeep()" ng-if="inventory.currentUser.watchkeeping || inventory.currentUser.watchkeeper">
          <a href=""><i class="icon-cup"></i><span>Watchkeep </span><span class="fa arrow"></span></a>
        </li>
        <li class="nav-parent" ng-click="inventory.gotoAdminPanel()" ng-if="inventory.currentUser.superadmin">
          <a href=""><i class="icon-puzzle"></i><span>Super Admin </span><span class="fa arrow"></span></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- END SIDEBAR -->

<div class="main-content">
    <!-- BEGIN TOPBAR -->
    <div class="topbar"  style="z-index: 999999999 !important;">
      <div class="header-right">
        <ul class="header-menu nav navbar-nav">
          <!-- BEGIN USER DROPDOWN 
          <li class="dropdown" id="language-header">
            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-globe"></i>
            <span>Language</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#" data-lang="en"><img src="../assets/global/images/flags/usa.png" alt="flag-english"> <span>English</span></a>
              </li>
              <li>
                <a href="#" data-lang="es"><img src="../assets/global/images/flags/spanish.png" alt="flag-english"> <span>Español</span></a>
              </li>
              <li>
                <a href="#" data-lang="fr"><img src="../assets/global/images/flags/french.png" alt="flag-english"> <span>Français</span></a>
              </li>
            </ul>
          </li> -->
          <!-- END USER DROPDOWN -->
          <!-- BEGIN NOTIFICATION DROPDOWN 
          <li class="dropdown" id="notifications-header">
            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="icon-bell"></i>
            <span class="badge badge-danger badge-header">6</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header clearfix">
                <p class="pull-left">12 Pending Notifications</p>
              </li>
              <li>
                <ul class="dropdown-menu-list withScroll" data-height="220">
                  <li>
                    <a href="#">
                    <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                    Steve have rated your photo
                    <span class="dropdown-time">Just now</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-heart p-r-10 f-18 c-red"></i>
                    John added you to his favs
                    <span class="dropdown-time">15 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-file-text p-r-10 f-18"></i>
                    New document available
                    <span class="dropdown-time">22 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                    New picture added
                    <span class="dropdown-time">40 mins</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-bell p-r-10 f-18 c-orange"></i>
                    Meeting in 1 hour
                    <span class="dropdown-time">1 hour</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-bell p-r-10 f-18"></i>
                    Server 5 overloaded
                    <span class="dropdown-time">2 hours</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-comment p-r-10 f-18 c-gray"></i>
                    Bill comment your post
                    <span class="dropdown-time">3 hours</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                    New picture added
                    <span class="dropdown-time">2 days</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-footer clearfix">
                <a href="#" class="pull-left">See all notifications</a>
                <a href="#" class="pull-right">
                <i class="icon-settings"></i>
                </a>
              </li>
            </ul>
          </li> -->
          <!-- END NOTIFICATION DROPDOWN -->
          <!-- BEGIN USER DROPDOWN -->
          <li class="dropdown" id="user-header">
            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img style="width: 36px !important; height: 36px !important;" src="{{inventory.currentUser.profilePhoto}}" alt="user image">
            <span class="username">Hi, {{inventory.currentUser.username}}</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a ui-sref="profilepage({ employeeId: inventory.currentUserId })"><i class="icon-user"></i><span>My Profile</span></a>
              </li>
              <!--<li>
                <a href="#"><i class="icon-settings"></i><span>Account Settings</span></a>
              </li>-->
              <li>
                <a href="#" ng-click="inventory.logout()"><i class="icon-logout"></i><span>Logout</span></a>
              </li>
            </ul>
          </li>
          <!-- END USER DROPDOWN -->
        </ul>
      </div>
      <!-- header-right -->
    </div>
    <!-- END TOPBAR -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
      <div class="row">
        <div class="col-lg-12 portlets">
          <div class="panel bg-dark">
            <div class="panel-header panel-controls">
                <div class="m-b-20 m-t-10">
                    <div class="btn-group">
                      <button id="table-edit_new" class="btn btn-dark" data-toggle="modal" data-target="#modal-responsive"><i class="fa fa-plus"></i> Add New Item</button>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <form>
                      <div class="append-icon">
                        <input type="search" ng-model="inventory.searchText" class="form-control form-white input-lg" placeholder="Search..." autofocus>
                        <i class="icon-magnifier"></i>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="panel-content">
              <!--<p>Here you can manage your jobs easily: add new row, edit or remove existing data. You can export your table in PDF, Excel, CSV or just print it.</p>-->
              <!--<div class="m-b-20">
                <div class="btn-group">
                  <button id="table-edit_new" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#modal-responsive"><i class="fa fa-plus"></i> Add New Job</button>
                </div>
              </div>-->
              <table class="table table-hover dataTable" id="table-editable">
                <thead>
                  <tr>
                    <th>Name <a href="#" ng-click="inventory.sortNameUp()" ng-if="inventory.nameUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortNameDown()" ng-hide="inventory.nameUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>Category <a href="#" ng-click="inventory.sortCategoryUp()" ng-if="inventory.categoryUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortCategoryDown()" ng-hide="inventory.categoryUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>Manufacturer <a href="#" ng-click="inventory.sortManufacturerUp()" ng-if="inventory.manufacturerUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortManufacturerDown()" ng-hide="inventory.manufacturerUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>Model No. <a href="#" ng-click="inventory.sortModelNoUp()" ng-if="inventory.modelNoUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortModelNoDown()" ng-hide="inventory.modelNoUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>Part No. <a href="#" ng-click="inventory.sortPartNoUp()" ng-if="inventory.partNoUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortPartNoDown()" ng-hide="inventory.partNoUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>TTL Amount Held <a href="#" ng-click="inventory.sortTotalAmountUp()" ng-if="inventory.totalAmountUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortTotalAmountDown()" ng-hide="inventory.totalAmountUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>Min Amount <a href="#" ng-click="inventory.sortMinAmountUp()" ng-if="inventory.minAmountUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortMinAmountDown()" ng-hide="inventory.minAmountUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>Department <a href="#" ng-click="inventory.sortDepartmentUp()" ng-if="inventory.departmentUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortDepartmentDown()" ng-hide="inventory.departmentUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                    <th>Critical <a href="#" ng-click="inventory.sortCriticalUp()" ng-if="inventory.criticalUp"><i class="fa fa-arrow-circle-up"></i></a> <a href="#" ng-click="inventory.sortCriticalDown()" ng-hide="inventory.criticalUp"><i class="fa fa-arrow-circle-down"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr dir-paginate="inventory in inventory.inventories | itemsPerPage: inventory.perPage" total-items="inventory.inventoriesCount" ui-sref="inventorydetails({ inventoryId: inventory._id })" ng-click="">
                    <td>{{inventory.name}}</td>
                    <td>{{inventory.category}}</td>
                    <td>{{inventory.manufacturer}}</td>
                    <td>{{inventory.modelNo}}</td>
                    <td>{{inventory.partNo}}</td>
                    <td>{{inventory.totalAmount}}</td>
                    <td>{{inventory.minAmount}}</td>
                    <td>{{inventory.department}}</td>
                    <td>{{inventory.critical == "true" ? "yes" : "no"}}</td>
                  </a>
                  </tr>
                  
                </tbody>
              </table>
              <dir-pagination-controls on-page-change="inventory.pageChanged(newPageNumber)"></dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="copyright">
          <p class="pull-left sm-pull-reset">
            <span>Copyright <span class="copyright">©</span> 2018 </span>
            <span>Powered by TYS Ltd</span>.
            <span>All rights reserved. </span>
          </p>
          <p class="pull-right sm-pull-reset">
            <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-responsive" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52" style="color: #fff !important;"></i></button>
            <h4 class="modal-title"><strong>New</strong> Inventory</h4>
          </div>
          <div class="modal-body bg-dark">
            <!--<p>Change screen size to see responsive behaviour.</p>-->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field-1" class="control-label">Name</label>
                  <input type="text" ng-model="inventory.inventory.name" class="form-control" placeholder="Item name" required>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="field-3" class="control-label">Category</label>
                      <input type="text" ng-model="inventory.inventory.category" class="form-control" placeholder="Category" required>
                    </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field-4" class="control-label">Manufacturer</label>
                  <input type="text" ng-model="inventory.inventory.manufacturer" class="form-control" placeholder="manufacturer name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field-5" class="control-label">Model Number</label>
                  <input type="text" ng-model="inventory.inventory.modelNo" class="form-control" placeholder="Model No." required>
                </div>
              </div>
            </div>

            <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field-4" class="control-label">Part Number</label>
                      <input type="text" ng-model="inventory.inventory.partNo" class="form-control" placeholder="Part No." required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="field-5" class="control-label">Total Amount</label>
                      <input type="text" ng-model="inventory.inventory.totalAmount" class="form-control" placeholder="0" required>
                    </div>
                  </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="field-4" class="control-label">Minimum Amount</label>
                    <input type="text" ng-model="inventory.inventory.minAmount" class="form-control" placeholder="0" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Department</label>
                    <select ng-model="inventory.inventory.department" name="group" class="form-control">
                      <option ng-repeat="department in inventory.departments" value="{{department.value}}">{{department.name}}</option>
                    </select>
                  </div>
                </div>
          </div>

            <!--<div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="field-4" class="control-label">Used For</label>
                    <input type="text" ng-model="inventory.inventory.usedFor" class="form-control" placeholder="item usage" required>
                  </div>
                </div>
          </div>-->

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="field-4" class="control-label">Price</label>
                  <input type="text" ng-model="inventory.inventory.price" class="form-control" placeholder="0.00" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Critical Item?</label>
                    <select ng-model="inventory.inventory.critical" class="form-control" required>
                        <option ng-repeat="option in inventory.options" value="{{option.value}}">{{option.name}}</option>
                    </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer bg-dark text-center">
            <button type="submit" class="btn btn-dark" data-dismiss="modal" ng-click="inventory.submit()"><i class="fa fa-check"></i> Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTENT -->
    
  </div>